

.active{
    background-color:#1d4ed8;
}
.logo{
    margin: 1rem 0;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    padding: 1.2rem;
    margin-bottom: 5rem;
    position: sticky;
    top: 0;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
    cursor: pointer;
}

nav ul{
    display: none;
    flex-direction: column;
    margin-bottom: 0.25rem;
    width: 100%;

}

nav ul li{
    list-style: none;
    text-align: center;
    padding-bottom: 1.4rem;
    width: 100%;

}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: .5rem;
    border-radius: .4rem;
    scroll-behavior: smooth;
  }

  nav ul li a:not(.active):hover{
    background-color: #172554;
  }

  nav ul.open{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    
  }
  .hamburger-icon {
    display: flex; 
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    margin-top: -2.6rem;
  }

  
@media (min-width: 769px) {
    nav{
        flex-direction: row;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.25rem;
        width: auto;
    
    }
   
    nav ul li a{
        padding: .5rem;
        border-radius: .4rem;
        display: block;
        color: white;
      text-decoration: none;
      margin: .2rem .5rem;


    }
    nav ul li{
        width: 100%;

    }
    
  
    .hamburger-icon {
      display: none;
       /* Hide the hamburger icon for desktop view */
    }
  }



 
  
  

  
  